%script{ src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js' }
%script{ src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js' }
%link{ rel: 'stylesheet',  href: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css' }



.container
  .header-wrapper
    .header
      //%h1 DisneyTour

  %form#attractions-form
    .attraction-form
      .main-container
        .attractions-map
          .attractions-map-wrapper
            = image_tag 'disney_map.jpg'
          - @attractions.each do |attraction|
            %a.attraction-point.attraction-label{ id: "attraction-#{attraction.algorithm_id}-point", class: "area-#{attraction.area_id}",
             'data-attraction-id' => attraction.algorithm_id,
             'data-area-id' => attraction.area_id}
              = attraction.algorithm_id


    .set-time-wrapper
      .set-time-box
        .set-time-label
          %label.label-title.control-label{for: 'departed_date'} 予定日
          = text_field_tag 'departed[date]', DateTime.now.to_s, class: 'form-control date-picker'

        .set-time-label
          %label.label-title{for: 'departed_time'} 出発時刻
          %input.departed_hour{type: :time, name: 'departed_time'}

          %lable.set-default-time#opentime-label 開園時にする

        .set-time-label
          %label.label-title{for: 'finished_time'} 終了時刻
          %input.finished_hour{type: :time, name: 'finished_time'}

          %lable.set-default-time#closetime-label 閉園時にする

        .set-time-label
          #confirm-btn.calc-submit-btn
            確認


    .sidebar#ui-tab
      %ul.tabs
        %li.attraction-tab{'data-tab-content': '#attraction-tab'} アトラクション一覧
        %li.search-result-tab{'data-tab-content': '#search-result-tab'} 検索結果

      #tab-contents
        #attraction-tab.tab-content.area-names
          - @areas.each do |area|
            .acMenu
              %dt.area-name{ id: "area-#{area.id}-name",
                            class: "area-#{area.id}-title" }
                = area.name
              .attractions-list{ class: "area-#{area.id}-list" }
                - area.attractions.each do |attraction|
                  %dd.attraction-name.attraction-label{ id: "attraction-#{attraction.algorithm_id}-name",
                    'data-attraction-id' => attraction.algorithm_id,
                    'data-area-id' => attraction.area_id}
                    = attraction.algorithm_id
                    = attraction.name

        #confirm-tab.tab-content{style: 'display: none'}
          .submit-wrapper
            = submit_tag '検索する', id: 'search-submit-btn', class: 'calc-submit-btn'
          #attractions-list
            - @attractions.each do |attraction|
              .decided{ id: "decided-#{attraction.algorithm_id}-id", style: 'display: none' }
                .attraction-name
                  = attraction.name
                .delete{'data-attraction-id' => attraction.algorithm_id}
                  削除
                .to_must{'data-attraction-id' => attraction.algorithm_id}
                  必須にする
                .must{'data-attraction-id' => attraction.algorithm_id, style: 'display: none'}
                  必須

        #search-result-tab.tab-content{style: 'display: none'}
          #calc-results
            #candidates-tabs
              -##candidate-tab-1.candidate-tab
              -#  候補１
              -##candidate-tab-2.candidate-tab
              -#  候補２
            #candidates-results
              -##candidate-result-1
              -#  .description
              -#    経路最短優先
              -#  %table
              -#    %tbody#calc-table
              -#      %tr
              -#        %td
              -#          .attraction-point.area-0
              -#            1
              -#        %td
              -#          .attraction-name
              -#            カリブの海賊
              -#
              -#      - (1..3).each do |_|
              -#        %tr
              -#          %td
              -#            .route-bar
              -#          %td.time-description
              -#            .start-time
              -#              12:10 発
              -#            .move-time
              -#              10分移動
              -#            .arrive-time
              -#              12:20着　20分待ち
              -#        %tr
              -#          %td
              -#            .attraction-point.area-0
              -#              1
              -#          %td
              -#            .attraction-name
              -#              カリブの海賊


          -##calc-results-start
          -#  .clearfix
          -#
          -#    .wrapper
          -#      .attraction-name
          -#        ほげほげ
          -#      .start-time
          -#        12:10 発
          -##calc-results-attractions
          -#  - (1..3).each do |_|
          -#    .clearfix
          -#      .route-bar
          -#      .move-time
          -#        12分　移動





-#:javascript
-#  $(function () {
-#    $('#ui-tab').tabs();
-#  });
